.img-container{
    height: 700px;
    width: 100%;
    background: linear-gradient(rgb(10, 8, 8,0.3),rgb(10, 8, 8,0.3)),url(../Image/mansion.jpg),no-repeat;
    background-size: cover;
    position: relative;

}

.para{
    background: rgb(0, 0, 0,0.5);
    color: white;
    width: 300px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 40%;
    
}
button{
    background: rgb(252, 195, 40) !important;
}
 
 #box{
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: -10%;
    
} 
.sub-div{
    
    width: 250px;
    height: 150px;
    margin: 20px;
    background: rgb(252, 237, 237);
    border: 1px solid rgb(235, 210, 210);
    
}

#featured-listing{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
#apartment .card{
    height: 600px;
}
.card-header,.card-body{
    border-bottom:none ;
}
.card-btn{
    margin-top: 50px;
}
.paragraph,.client-review{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.photo>img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#dream-house{
    background: linear-gradient(rgb(12, 3, 97,0.4),rgb(12, 3, 97,0.4)),url(../Image/apartment1.jpg),no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    
}
#dream-house>div{
    width: 400px;
    text-align: center;
    background: rgb(0, 0, 0,0.5);
    color: white;
}
p .btn{
    width: 200px !important;
}
@media(min-width:280px) and (max-width:300px){
    .para{
        position: absolute;
        left: 0;
        width: 100%;
    }
    #box{
        position: relative;
        top: 100%;
    }
    #main-content{
        margin-top: 600px;
    }
    #dream-house div{
        width: auto;
    }
}
@media (min-width: 300px )and (max-width: 750px){
    .para{
        position: absolute;
        left: 10%;
    }
    #box{
        position: relative;
        top: 100%;
    }
    #main-content{
        margin-top: 600px;
    }
    #dream-house div{
        width: auto;
    }
}
@media(min-width:760px)and (max-width:900px){
    .sub-div{
        width: auto;
    }
    #apartment card{
        height: auto;
    }
}